body {
  width: auto;
  text-align: center;
  color: white;
  background-image: linear-gradient(to right, #4c6c81, #083263);
}

.contato{
  padding-top: 50px;

}

.container {
  padding-top: 10px;
  display: flex;
  justify-content: end;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}
.menu1 {  
  flex-basis: 40%;
  float: right;
  box-sizing: border-box;
  border: 2px solid #ffffff;
  border-radius: 10px;
  text-decoration: none;
  color: #FEFEFE;
}

.menu1:hover {
  transition: 1s ease-in-out;
  background: #4F95DA;  
}

.menu1:hover svg {
  stroke-dashoffset: -480;
}
p {
  font-size: 20px;
  color: #ffffff;
}

.fotologo {
  float: left;
  margin: 10px;

}


.mapa {
	padding: 3em 0;
	background: linear-gradient(#FEFEFE, #888888);
}

.mapa-conteudo {
	width: 940px;
	margin: 0 auto;
}



.mapa p {
	margin: 0 0 2em;
	text-align: center;
}

footer{
  margin-top: 100rem;
  background-color: rgb(255, 255, 255);

  width: 100%;
}

.copyright {
  text-align: center;
  color: #000000;
  font-weight: bold;

}
.roda {
  width: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

li {
  padding: 10px;
  font-size: 20px;
}